
NavigationUI {
    margin: 0;
    min-width: 50;
    padding: 0;
    border: white;
    display: block;
    align: center middle;
    content-align: center middle;
}

Label {
    margin: 0;
    border: white;
    display: block;
    content-align: center middle;
}

.mappings {
    dock: right;
    display: block;
}

KeysUI {
    margin: 0;
    min-width: 50;
    min-height: 20;
    padding: 0;
    border: white;
    align: center middle;
    content-align: center middle;
}

Sparkline {
    width: 16;
    margin: 1;
    color: white;
    display: block;
    align: center middle;
    content-align: center middle;
}

.sparkline--max-color {
    color: $success;
}

.sparkline--min-color {
    color: $success;
}